site_name: Practical NLP
site_description: A practical course on natural language processing @ HTWG Konstanz.
repo_url: https://github.com/pkeilbach/htwg-practical-nlp
repo_name: pkeilbach/htwg-practical-nlp
theme:
  name: material
  language: en
  features:
    - navigation.tabs
    - navigation.instant
    - navigation.indexes
    - toc.follow
  palette:
    primary: cyan
    accent: blue
  icon:
    repo: fontawesome/brands/git-alt
plugins:
  - search:
      lang: en
extra:
  social:
    - icon: fontawesome/solid/paper-plane
      link: mailto:pascal.keilbach@htwg-konstanz.de
    - icon: fontawesome/brands/github
      link: https://github.com/pkeilbach/htwg-practical-nlp
markdown_extensions:
  - attr_list
  - admonition
  - footnotes
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
nav:
  - Welcome: index.md
  - About:
      - about/course_profile.md
      - about/prerequisites.md
  - Getting Started: getting_started.md
  - Lectures:
      - lectures/preface.md
      - lectures/nlp_intro.md
      - lectures/preprocessing.md
      - lectures/feature_extraction.md
      - lectures/logistic_regression.md
      - lectures/naive_bayes.md
      - lectures/vector_space_models.md
      - lectures/minimum_edit_distance.md
  - Assignments: assignments.md
  - Presentations:
      - presentations/presentations.md
      - Articles:
          - Article Template: presentations/articles/template.md
  - FAQ: faq.md
